<div class="wrapper" id="brand-detail">

  <div id="shop-head">
    <ul class="nav nav-float">
      <li class="shop-head-first">
        <div class="head-first">
          <div class="head-first-info">
            <div class="head-first-brand">
              <img src="/assets/tmp/ck.png" alt=""/>
            </div>
          </div>

          <div class="brand-desc">
            Calvin Klein（简称：CK），是一个美国时装品牌，于1968年成立，创始者为同名设计师卡尔文·克莱因，曾经连续四度获得知名的服装奖项；其创始人Calvin Klein 1942年出生于美国纽约，就读于著名的美国纽约时装学院（F I T）。
            Calvin Klein是美国第一大设计师品牌；旗下的相关产品更是层出不穷，声势极为惊人。
            Calvin Klein一直坚守完美主义，每一件Calvin Klein时装都显得非常完美。因为体现了十足的纽约生活方式，Calvin Klein的服装成为了新一代职业妇女品牌选择中的最爱。
          </div>

        </div>
      </li>
      <li class="shop-head-second">

        <div class="second-img">
          <ul class="nav nav-float">
            <li><img src="/assets/tmp/second-img.png" alt=""/></li>
            <li><img src="/assets/tmp/second-img.png" alt=""/></li>
            <li><img src="/assets/tmp/second-img.png" alt=""/></li>
          </ul>
        </div>

      </li>
    </ul>
  </div>

  <div class="brand-info-div" id="brand-info">
    品牌·资讯
  </div>

  <div class="brand-info-img">
    <ul class="first nav nav-float">
        <li class="first-first">
          <img src="/assets/tmp/first-first.png" alt=""/>
        </li>
        <li class="first-second">
          <img src="/assets/tmp/first-first.png" alt=""/>
        </li>
    </ul>


    <ul class="nav nav-float second-ul">
      <li class="first-first">
        <ul class="second nav nav-float">
          <li>
            <img src="/assets/tmp/first-first.png" alt=""/>
          </li>
          <li id="ul-last-li">
            <img src="/assets/tmp/first-first.png" alt=""/>
          </li>
        </ul>
      </li>
      <li class="first-second">
        <img src="/assets/tmp/first-first.png" alt=""/>
      </li>
    </ul>
  </div>


  <div class="brand-info-div" id="brand-info-address">
    品牌店·地址
  </div>

  <div class="brand-shop-address">
    <ul class="nav nav-float">
      <li class="brand-shop-image">
        <img src="/assets/tmp/brand-shop-image.png" alt=""/>
      </li>
      <li class="brand-address-list">
        <ul class="nav nav-float">
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
        </ul>
      </li>


      <li class="brand-address-list-b">
        <ul class="nav nav-float">
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
        </ul>
      </li>

      <li class="brand-address-list-b">
        <ul class="nav nav-float">
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
          <li>
            <div class="shop-city">
              上海
            </div>
            <div class="shop-address">
              <span>迪米特 - 北京盛丽都</span>
              <span>中山路1号234</span>
            </div>

            <div class="shop-telephone">
              010 88888888
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
