<div class="wrapper">
  <div class="brands-top">
    <img src="/assets/tmp/brands-topo.png">
  </div>

  <div class="items-num brand-category">
    <span>服饰</span>
  </div>

  <ul class="nav nav-float">
    <li>
      <ul class="nav nav-float brands-big-ul">
        <li>
          <img src="/assets/tmp/brands-big.png">
        </li>
        <li>
          <img src="/assets/tmp/brands-big.png">
        </li>
        <li>
          <img src="/assets/tmp/brands-big.png">
        </li>
        <li>
          <img src="/assets/tmp/brands-big.png">
        </li>
      </ul>
    </li>
    <li class="brands-left">
      <ul class="nav nav-float">
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
        <li>
          <img src="/assets/tmp/one-brand.png">
        </li>
      </ul>
    </li>
  </ul>



</div>