<div class="wrapper">
  <div class="dapei-top">
    <ul class="nav nav-float">
      <li>
        <img src="/assets/tmp/dapeiji.png">
      </li>
      <li>
        <div class="new-dapei">
          <ul class="nav">
            <li class="new-dapei-link link-w">
              <a href="#">发布搭配</a>
            </li>
            <li class="to-dapei-daren">
              <a href="#">想要成为搭配达人?</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="hot-dapei-tag">
    <div class="hot-dapei-tag-head">
      <h2>热门搭配标签</h2>
    </div>

    <div class="hot-dapei-tags">
        <ul class="nav nav-float">
            <li>
              <h5>热门</h5>
              <ul class="nav nav-float">
                <li>清纯</li>
                <li>诱惑</li>
                <li>魅力</li>
                <li>女神</li>
              </ul>
            </li>
            <li>
              <h5>潮流</h5>
              <ul class="nav nav-float">
                <li>清纯</li>
                <li>诱惑</li>
                <li>魅力</li>
                <li>女神</li>
              </ul>
            </li>
            <li>
              <h5>聚会</h5>
              <ul class="nav nav-float">
                <li>清纯</li>
                <li>诱惑</li>
                <li>魅力</li>
                <li>女神</li>
              </ul>
            </li>
          <li>
            <h5>热门</h5>
            <ul class="nav nav-float">
              <li>清纯</li>
              <li>诱惑</li>
              <li>魅力</li>
              <li>女神</li>
            </ul>
          </li>
          <li>
            <h5>潮流</h5>
            <ul class="nav nav-float">
              <li>清纯</li>
              <li>诱惑</li>
              <li>魅力</li>
              <li>女神</li>
            </ul>
          </li>
          <li>
            <h5>聚会</h5>
            <ul class="nav nav-float">
              <li>清纯</li>
              <li>诱惑</li>
              <li>魅力</li>
              <li>女神</li>
            </ul>
          </li>
        </ul>
    </div>
  </div>

  <div class="dapei-items-num">
    <ul class="nav nav-float-r">
      <li><a href="#">相关度排序</a></li>
      <li><a href="#">相关度排序</a></li>
      <li><a href="#">相关度排序</a></li>
      <li><a href="#">相关度排序</a></li>
    </ul>
  </div>

  <div class="dapei-body">
    <ul class="nav nav-float">
      <li>
        <img src="" alt=""/>
        <div class="dapei-title">
          c成熟风味搭配

          <div class="shop-tool pull-right">
            <span class="shoucang black-b">
            <img src="/assets/newweb/shoucang.png">
            </span>
            <a href="#">
              126人收藏
            </a>
          </div>
        </div>
        <div class="dapei-user">
            by XXX
          <div class="shop-tool pull-right">
            <span class="comments black-b">
            <img src="/assets/newweb/comments.png">
            </span>
            <a href="#">
              126人评论
            </a>
          </div>
        </div>
      </li>
      <li></li>
      <li id="ul-last-li"></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>