<div class="wrapper">
    <table class="dapeiji-table">
      <tr>
        <td>
          <div class="dapeiji-left">
            <div class="dapei-image">
              <img src="/assets/tmp/dapeiji-a.png" alt=""/>
            </div>

          <div class="dapeiji-title">
            夏季风 军绿色花纹长裙复古式搭配
          </div>

          <div class="dapeiji-xiaobian">
            <span class="xiaobian">小编推荐：</span>简单又轻松的搭配，带着军绿色花纹的长裙和高靴，让你无论走在炎热的夏季还是雨后的清晨都不乏吸引人的目光。带着军绿色花纹的长裙和高靴，让你无论走在炎热的夏季还是雨后的清晨都不乏吸引人的目光。
          </div>

          <div class="dapeiji-tag">
            <span class="xiaobian">搭配标签：</span>简单 又轻松 的搭配
          </div>

            <div class="item-comment dapeiji-comment">
              <div>
                <span class="comment-num">评论(23)</span>
                <form action="">
                  <textarea name="comment" id="comment-textarea" cols="30" rows="5"></textarea>
                  <input type="submit" name="submit" value="submit" class="submit-b"/>
                </form>
              </div>
              <div class="item-comment-list">
                <ul class="nav">
                  <li>
                    <ul class="nav nav-float">
                      <li class="item-comment-list-avatar">
                        <img src="" alt=""/>
                      </li>
                      <li class="item-comment-list-content">
                        <div class="username">hello laday</div>
                        <div class="post-time">2分钟前</div>
                        <div class="comment-content">
                          这家店很不错!
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="nav nav-float">
                      <li class="item-comment-list-avatar">
                        <img src="" alt=""/>
                      </li>
                      <li class="item-comment-list-content">
                        <div class="username">hello laday</div>
                        <div class="post-time">2分钟前</div>
                        <div class="comment-content">
                          这家店很不错!
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="nav nav-float">
                      <li class="item-comment-list-avatar">
                        <img src="" alt=""/>
                      </li>
                      <li class="item-comment-list-content">
                        <div class="username">hello laday</div>
                        <div class="post-time">2分钟前</div>
                        <div class="comment-content">
                          这家店很不错!
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul class="nav nav-float">
                      <li class="item-comment-list-avatar">
                        <img src="" alt=""/>
                      </li>
                      <li class="item-comment-list-content">
                        <div class="username">hello laday</div>
                        <div class="post-time">2分钟前</div>
                        <div class="comment-content">
                          这家店很不错!
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>


          </div>
        </td>
        <td>
          <div class="dapeiji-right">

            <div class="single-item single-item-dapei">
                <div class="single-item-head">单品</div>
                <ul class="nav nav-float">
                  <li>
                    <img src="" alt=""/>
                    <div class="dapeiji-item-title">
                        军绿高腰靴子 <span class="price pull-right">￥60</span>
                    </div>
                  </li>
                  <li id="ul-last-li">
                    <img src="" alt=""/>
                    <div class="dapeiji-item-title">
                      军绿高腰靴子 <span class="price pull-right">￥60</span>
                    </div>
                  </li>
                  <li>
                    <img src="" alt=""/>
                    <div class="dapeiji-item-title">
                      军绿高腰靴子 <span class="price pull-right">￥60</span>
                    </div>
                  </li>
                  <li id="ul-last-li">
                    <img src="" alt=""/>
                    <div class="dapeiji-item-title">
                      军绿高腰靴子 <span class="price pull-right">￥60</span>
                    </div>
                  </li>
                  <li>
                    <img src="" alt=""/>
                    <div class="dapeiji-item-title">
                      军绿高腰靴子 <span class="price pull-right">￥60</span>
                    </div>
                  </li>
                </ul>
            </div>


            <div class="single-item posted-dapei-by-user">
              <div class="single-item-head">XX的搭配</div>
              <ul class="nav nav-float">
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子 <span class="price pull-right">￥60</span>
                  </div>
                </li>
                <li id="ul-last-li">
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li id="ul-last-li">
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
              </ul>
            </div>


            <div class="single-item same-style-dapei posted-dapei-by-user">
              <div class="single-item-head">相同风格的搭配</div>
              <ul class="nav nav-float">
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子 <span class="price pull-right">￥60</span>
                  </div>
                </li>
                <li id="ul-last-li">
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li id="ul-last-li">
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
                <li>
                  <img src="" alt=""/>
                  <div class="dapeiji-item-title">
                    军绿高腰靴子
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
</div>