<!--<div class="wrapper">-->
    <!--<div class="big-sale-b">-->
        <!--<ul class="nav nav-float">-->
          <!--<li>-->
            <!--<ul class="nav nav-float">-->
              <!--<li class="big-sale-b-first">-->
                <!--<ul class="nav">-->
                  <!--<li class="big-sale-brand">-->
                    <!--CHANNEL-->
                  <!--</li>-->
                  <!--<li class="big-sale-youhui">-->
                    <!--1折-->
                  <!--</li>-->
                  <!--<li class="big-sale-shop">-->
                    <!--Shanghai big street no.1-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li class="big-sale-b-second">-->
                <!--<img src="/assets/tmp/big-sale-b-second.png" alt=""/>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li id="ul-last-li"></li>-->
          <!--<li></li>-->
          <!--<li id="ul-last-li"></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<div class="wrapper">
<div class="items-num">
  <ul class="nav nav-float pull-right">
    <li><a href="#">相关度排序</a></li>
    <li><a href="#">相关度排序</a></li>
    <li><a href="#">相关度排序</a></li>
    <li><a href="#">相关度排序</a></li>
  </ul>
</div>

<div class="shop-list">
<ul class="nav nav-float shop-list-ul">
<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">

    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="shop-list-head">
    <ul class="nav nav-float">
      <li class="shop-list-head-one">
        <div class="shop-list-head-brand">
          <img src="image/hm.png" alt=""/>
        </div>
      </li>
      <li class="shop-list-head-two">
        VERO MODA (徐汇区汇金店) <span class="red">去逛店<i class="go-icon"></i></span>
      </li>
      <li class="shop-list-head-three"></li>
    </ul>
  </div>
  <div class="shop-list-body">
    <div class="shop-list-image">
      <img src="image/image-simple.png" alt=""/>
    </div>
    <div class="shop-list-bottom">
      <ul class="nav nav-float">
        <li>
          <i class="message-icon"></i> 8 条评论
        </li>
        <li>
          <i class="love-icon"></i> 28 人喜欢
        </li>
        <li>
          <i class="smile-icon"></i> 120 人在逛
        </li>
      </ul>
    </div>
  </div>
</li>
</ul>
</div>
</div>
