<div class="login-main" id="login-small">
  <div class="login-h1-head">
    <span class="login-h1-head-icon pull-right">
      <img src="/assets/newweb/login-h1-head.png" alt=""/>
    </span>
  </div>
  <h1 class="login-h1">登陆上街吧</h1>
<div class="login-main-center">
  <ul class="nav nav-float">
    <li>
      <ul class="nav login-with">
        <li class="login-type">推荐合作网站一键登陆</li>
        <li>
          <div class="login-with-qq login-with-other">
                      <span class="icon-qq">
                        <img src="/assets/newweb/qq.png" alt=""/>
                      </span>
            <b>QQ账号登陆</b>
          </div>
        </li>
        <li>
          <div class="login-with-weibo login-with-other">
                      <span class="icon-weibo">
                        <img src="/assets/newweb/weibo-sina.png" alt=""/>
                      </span>
            <b>新浪微博登陆</b>
          </div>
        </li>
      </ul>
    </li>
    <li id="border-y"></li>
    <li>
      <form action="#">
        <ul class="nav login-sjb">
          <li class="login-type">使用上街吧账号登陆</li>
          <li>
            <label>邮箱：</label>
            <input type="text" name="email" class="login-email"/>
          </li>
          <li>
            <label>密码：</label>
            <input type="password" name="password" class="login-password"/>
          </li>
          <li class="login-tool">
            <input type="checkbox" name="login-auto" class="login-auto-box"/>自动登陆  <span class="forget-password"><a href="#">忘记密码？</a></span>
          </li>
          <li>
            <input class="login-submit" type="submit" value="登陆"/> <span class="no-account">没有账号？<a href="#">赶快注册</a></span>
          </li>
        </ul>
      </form>
    </li>
  </ul>
</div>
</div>