<div class="wrapper">

  <div class="my-home-head">
    <ul class="nav nav-float">
      <li>
        <div class="my-avatar">
          <a href="#">
            <img src="" alt=""/>
          </a>
        </div>
      </li>
      <li>
        <ul class="nav user-info">
            <li class="username">
                HiSAIBAOBEI
            </li>
            <li class="user-address">
                <span>来自：</span> <span class="address">SHANGHAI</span>
            </li>
            <li class="user-desc">
              <span>自我介绍：</span> <span class="desc">爱时尚，爱上街</span>
            </li>
            <li class="follow-this">
                <span class="follow-me">+加关注</span>
            </li>
        </ul>
      </li>
      <li>
        <ul class="user-data nav">
            <li>
                <span class="icon-look"></span> <span class="data">424关注</span>
            </li>
            <li>
              <span class="icon-love"></span> <span class="data">100人喜欢</span>
            </li>
            <li>
              <span class="icon-user"></span> <span class="data">424粉丝</span>
            </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="my-home-main">
    <ul class="nav nav-float my-home-main-nav">
        <li class="active">
          <a href="#">
            主页
          </a>
        </li>
        <li>
          <a href="#">
            喜欢
          </a>
        </li>
        <li>
          <a href="#">
            评论
          </a>
        </li>
        <li>
          <a href="#">
            日志
          </a>
        </li>
        <li>
          <a href="#">
            好友
          </a>
        </li>
    </ul>

    <div class="my-home-main-body">
      <ul class="nav">
        <li>
          <ul class="nav nav-float">
            <li class="user-friend-avatar">
              <img src="" alt=""/>
            </li>
            <li class="user-friend-desc">
              <div class="user-friend-name">
                Laday Gaga
              </div>
              <div class="user-friend-from">
                <span class="from">来自：</span> <span>Shanghai</span>
              </div>
              <div class="user-friend-info">
                424人关注 290人喜欢
              </div>
            </li>
            <li id="pull-right">
              <span class="follow-me">
                +关注
              </span>
            </li>
          </ul>
        </li>
        <li></li>
      </ul>
    </div>

  </div>

</div>