<div class="wrapper">

  <div id="shop-head">
    <ul class="nav nav-float">
      <li class="shop-head-first">
        <div class="head-first">
            <div class="head-first-info">
                <div class="head-first-brand">
                  <img src="/assets/tmp/ck.png" alt=""/>
                  <span class="shop-address">中山路旗舰店</span>
                </div>
            </div>

            <div class="head-first-discount">
                < 全场买500送500 @ Sun09/01 - Sun09/10 >
            </div>
            <div class="head-first-follow">
                <span>+580人关注</span>
            </div>

            <div class="brand-desc">
              Calvin Klein（简称：CK），是一个美国时装品牌，于1968年成立，创始者为同名设计师卡尔文·克莱因，曾经连续四度获得知名的服装奖项；其创始人Calvin Klein 1942年出生于美国纽约，就读于著名的美国纽约时装学院（F I T）。
              Calvin Klein是美国第一大设计师品牌；旗下的相关产品更是层出不穷，声势极为惊人。
              Calvin Klein一直坚守完美主义，每一件Calvin Klein时装都显得非常完美。因为体现了十足的纽约生活方式，Calvin Klein的服装成为了新一代职业妇女品牌选择中的最爱。
            </div>

            <div class="shop-adress">
                地址:虹口区西江湾路388号虹口凯德龙之梦购物中心2楼<br>
                电话:(010) 348879223
            </div>

            <div class="other-shop">
                <span class="other-shop-span">
                  其他分店
                  <b class="caret-w"></b>
                  <ul class="other-shop-ul">
                    <li>虹口区西江湾路388号虹口凯德龙之梦购物中心2楼</li>
                    <li>虹口区西江湾路388号虹口凯德龙之梦购物中心3楼</li>
                    <li>虹口区西江湾路388号虹口凯德龙之梦购物中心4楼</li>
                    <li>虹口区西江湾路388号虹口凯德龙之梦购物中心5楼</li>
                    <li>虹口区西江湾路388号虹口凯德龙之梦购物中心6楼</li>
                  </ul>
                </span>

                <span class="shop-map">
                    Map
                </span>
            </div>
        </div>
      </li>
      <li class="shop-head-second">
        <div class="second-img-head">
            <span class="shop-comment pull-right">
              评论
              <b id="caret-b" class="caret-w"></b>
            </span>
        </div>
        <div class="second-img">
          <div class="shop-comment-div">
            <ul class="nav comment-list">
                <li>
                    <span class="icon-user"></span> 我来这家店还是朋友推荐的，特别推荐浦江第一排，它的口味香酥酥软，我只吃了这份就已经饱了。环境和服务蛮不错的，以后还会常来的。
                </li>
                <li>
                    <span class="icon-user"></span> 浦江第一排香酥酥软，黑椒牛柳粒大颗香嫩，海鲥鱼盆子好大哈哈，还有许多菜！都做得不错！露台角度一般，但这个天气室外用餐实在舒服！
                </li>
                <li>
                    <span class="icon-user"></span> 雅科(大光明店)地址:黄浦区南京西路248号大光明影院3楼屋顶花园，元宝虾榴莲酥牛仔骨鱼头汤赋石船头这几个味道还行！
                </li>
              <li>
                <span class="icon-user"></span> 我来这家店还是朋友推荐的，特别推荐浦江第一排，它的口味香酥酥软，我只吃了这份就已经饱了。环境和服务蛮不错的，以后还会常来的。
              </li>
              <li>
                <span class="icon-user"></span> 浦江第一排香酥酥软，黑椒牛柳粒大颗香嫩，海鲥鱼盆子好大哈哈，还有许多菜！都做得不错！露台角度一般，但这个天气室外用餐实在舒服！
              </li>
              <li>
                <span class="icon-user"></span> 雅科(大光明店)地址:黄浦区南京西路248号大光明影院3楼屋顶花园，元宝虾榴莲酥牛仔骨鱼头汤赋石船头这几个味道还行！
              </li>
              <li>
                <span class="icon-user"></span> 我来这家店还是朋友推荐的，特别推荐浦江第一排，它的口味香酥酥软，我只吃了这份就已经饱了。环境和服务蛮不错的，以后还会常来的。
              </li>
              <li>
                <span class="icon-user"></span> 浦江第一排香酥酥软，黑椒牛柳粒大颗香嫩，海鲥鱼盆子好大哈哈，还有许多菜！都做得不错！露台角度一般，但这个天气室外用餐实在舒服！
              </li>
              <li>
                <span class="icon-user"></span> 雅科(大光明店)地址:黄浦区南京西路248号大光明影院3楼屋顶花园，元宝虾榴莲酥牛仔骨鱼头汤赋石船头这几个味道还行！
              </li>
            </ul>

            <div class="publish-comment">
              <textarea name="comment-content" class="comment-textarea" cols="5" rows="10"></textarea>
              <input type="button" name="commit" value="Submit" class="comment-submit"/>
            </div>

          </div>
          <img src="/assets/tmp/second-img.png" alt=""/>
        </div>
      </li>
    </ul>
  </div>

</div>