<div class="wrapper">

  <ul class="nav nav-float shop-list">
    <li>
        <ul class="nav nav-float">
          <li class="shop-list-first">
            <div class="shop-logo">
              <img src="/assets/tmp/shop-list-brand.png" alt=""/>
            </div>

            <div class="shop-address">
                徐汇区汇金店
            </div>

            <div class="shop-discount">
                BIG SALE
            </div>

            <div class="shop-tool shop-tool-active">
              +评论  【480】
            </div>

            <div class="shop-tool-b">
              +喜欢  【480】
            </div>

            <div class="shop-tool">
              +在逛  【480】
            </div>

          </li>
          <li class="shop-list-second">
            <ul class="nav nav-float">
              <li>
                <img src="/assets/tmp/shop-01.png" alt=""/>
              </li>
              <li class="mg-left">
                <img src="/assets/tmp/shop-02.png" alt=""/>
              </li>
              <li class="mg-top">
                <img src="/assets/tmp/shop-03.png" alt=""/>
              </li>
              <li class="mg-top mg-left">
                <img src="/assets/tmp/shop-04.png" alt=""/>
              </li>
            </ul>
          </li>
        </ul>
        <div class="border-b"></div>
    </li>
    <li>
      <ul class="nav nav-float">
        <li class="shop-list-first">
          <div class="shop-logo">
            <img src="/assets/tmp/shop-list-brand.png" alt=""/>
          </div>

          <div class="shop-address">
            徐汇区汇金店
          </div>

          <div class="shop-discount">
            BIG SALE
          </div>

          <div class="shop-tool shop-tool-active">
            +评论  【480】
          </div>

          <div class="shop-tool-b">
            +喜欢  【480】
          </div>

          <div class="shop-tool">
            +在逛  【480】
          </div>

        </li>
        <li class="shop-list-second">
          <ul class="nav nav-float">
            <li>
              <img src="/assets/tmp/shop-01.png" alt=""/>
            </li>
            <li class="mg-left">
              <img src="/assets/tmp/shop-02.png" alt=""/>
            </li>
            <li class="mg-top">
              <img src="/assets/tmp/shop-03.png" alt=""/>
            </li>
            <li class="mg-top mg-left">
              <img src="/assets/tmp/shop-04.png" alt=""/>
            </li>
          </ul>
        </li>
      </ul>
      <div class="border-b"></div>
    </li>
    <li class="ul-last-li">
      <ul class="nav nav-float">
        <li class="shop-list-first">
          <div class="shop-logo">
            <img src="/assets/tmp/shop-list-brand.png" alt=""/>
          </div>

          <div class="shop-address">
            徐汇区汇金店
          </div>

          <div class="shop-discount">
            BIG SALE
          </div>

          <div class="shop-tool shop-tool-active">
            +评论  【480】
          </div>

          <div class="shop-tool-b">
            +喜欢  【480】
          </div>

          <div class="shop-tool">
            +在逛  【480】
          </div>

        </li>
        <li class="shop-list-second">
          <ul class="nav nav-float">
            <li>
              <img src="/assets/tmp/shop-01.png" alt=""/>
            </li>
            <li class="mg-left">
              <img src="/assets/tmp/shop-02.png" alt=""/>
            </li>
            <li class="mg-top">
              <img src="/assets/tmp/shop-03.png" alt=""/>
            </li>
            <li class="mg-top mg-left">
              <img src="/assets/tmp/shop-04.png" alt=""/>
            </li>
          </ul>
        </li>
      </ul>
      <div class="border-b"></div>
    </li>
  </ul>


</div>