<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
  <title>时尚复古搭</title>
  <link href="/assets/polyvore/sjb_style.css" type="text/css" rel="stylesheet"
        charset="utf-8">

  <link href="/assets/polyvore/sjb_style_2.css" type="text/css" rel="stylesheet"
        charset="utf-8">

  <link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css">
  <script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script>

  <script type="text/javascript" src="/assets/polyvore/sjb_1.js"></script>
  <script src="/assets/polyvore/sjb_2.js" type="text/javascript"></script>

  <script src="/assets/polyvore/sjb_3.js" type="text/javascript"></script>

</head>
<body screen_capture_injected="true">
<iframe frameborder="0" style="display: none;"></iframe>


<div class="clear"></div>

<div class="middle_1">

  <div class="colltext">
    <div class="cb_content">
      <div class="photo" style="position:relative;" id="setimg">
        <img id="imgsrc" src="/assets/polyvore/57904(1).jpg" alt="时尚复古搭">
      </div>
    </div>
  </div>

</div>

</div>
</div>



<script type="text/javascript">

    var set = {setid: 57904, userid: 82979, nickname: '陈旻旻'};

    var setid = 57904;
    var setuid = 82979;
    var commentcount = 0;
    var items = [
        {"Brand": null, "BrandId": 0, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 2, "Title": "\u82F1\u56FD\u4EE3\u8D2D RIVER ISLAND \u6B63\u54C12012\u65B0\u54C1\u96CF\u83CA\u6253\u5370\u4F11\u95F2\u897F\u670D\u5916\u59578.7", "ItemUserID": 58855, "ItemUserName": "\u5494\u5693\u5C0F\u59D0", "Price": "455", "oLink": "http://item.taobao.com/item.htm?id=19151164983&spm=2014.12439415.0.0", "Link": "/click.aspx?t=2&i=190796&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D19151164983%26spm%3D2014.12439415.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 190796, "UserID": 82979, "X": "170.525101623703", "Y": "52.4365234375", "W": "268.244329895924", "H": "268.244329895924", "Z": "3", "transform": "1,0,0,1", "bkgd": 0, "XX": "170.525100708008", "YY": "52.4365234375", "WW": "268.244323730469", "HH": "268.244262695313", "_Link": "http://item.taobao.com/item.htm?id=19151164983&spm=2014.12439415.0.0"},
        {"Brand": "TOPSHOP", "BrandId": 33938, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 3, "Title": "\u6728\u6728\u82F1\u56FD\u4EE3\u8D2D\u76F4\u53D1topshop\u8BBE\u8BA1\u5E08\u6B3E\u5305\u81C0\u8377\u53F6\u4E0B\u6446\u534A\u8EAB\u88D9\u63A8\u835002.17", "ItemUserID": 84015, "ItemUserName": "\u834F\u82D2\u5411\u65E5\u8475", "Price": "965", "oLink": "http://item.taobao.com/item.htm?id=18951411385&spm=2014.21325497.0.0", "Link": "/click.aspx?t=3&i=189642&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D18951411385%26spm%3D2014.21325497.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 189642, "UserID": 82979, "X": "210.277099388821", "Y": "255.969431616605", "W": "193.487180024008", "H": "290.521290075354", "Z": "4", "transform": "1,0,0,1", "bkgd": 0, "XX": "210.277099609375", "YY": "255.969436645508", "WW": "193.487167358398", "HH": "290.521209716797", "_Link": "http://item.taobao.com/item.htm?id=18951411385&spm=2014.21325497.0.0"},
        {"Brand": "LIHONN", "BrandId": 214935, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 5, "Title": "2013\u65B0\u6B3E\u6B27\u7F8E\u5927\u724C\u94FE\u6761\u5355\u80A9\u624B\u63D0\u5973\u5305\u659C\u630E\u5305\u6F6E\u888B\u78E8\u7802\u725B\u76AE\u5468\u8FC5\u540C\u6B3E", "ItemUserID": 82979, "ItemUserName": "\u9648\u65FB\u65FB", "Price": "166", "oLink": "http://item.taobao.com/item.htm?id=22202199544&spm=2014.21325497.0.0", "Link": "/click.aspx?t=5&i=295606&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D22202199544%26spm%3D2014.21325497.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "[{\"x\":0.538,\"y\":0.229},{\"x\":0.154,\"y\":0.312},{\"x\":0.124,\"y\":0.367},{\"x\":0.146,\"y\":0.517},{\"x\":0.236,\"y\":0.893},{\"x\":0.352,\"y\":0.965},{\"x\":0.665,\"y\":0.884},{\"x\":0.824,\"y\":0.751},{\"x\":0.808,\"y\":0.595},{\"x\":0.821,\"y\":0.517},{\"x\":0.868,\"y\":0.494},{\"x\":0.879,\"y\":0.382},{\"x\":0.876,\"y\":0.22},{\"x\":0.865,\"y\":0.156},{\"x\":0.607,\"y\":0.223}]", "CollocationID": 57904, "ItemID": 295606, "UserID": 82979, "X": "14.5137931656964", "Y": "321.489082048312", "W": "195.241467521906", "H": "198.791316717485", "Z": "5", "transform": "0.987371315811438,0.158423119249658,-0.158423119249658,0.987371315811438", "bkgd": 1, "XX": "0", "YY": "307.278900146484", "WW": "224.268936157227", "HH": "227.211608886719", "_Link": "http://item.taobao.com/item.htm?id=22202199544&spm=2014.21325497.0.0"},
        {"Brand": "YDL/", "BrandId": 43579, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 6, "Title": "\u6843\u4E4B\u592D\u592Dvintage\u590D\u53E4\u5962\u534E\u53E4\u7740\u8033\u9970\u5973\u738B\u6C14\u573AOL\u5FC5\u5907\u795E\u5668\u62DB\u6843\u82B1", "ItemUserID": 87810, "ItemUserName": "\u5343\u5A9A", "Price": "55", "oLink": "http://item.taobao.com/item.htm?id=21956603090&spm=2014.21325497.0.0", "Link": "/click.aspx?t=6&i=219019&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D21956603090%26spm%3D2014.21325497.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 219019, "UserID": 82979, "X": "43.8571881856651", "Y": "61.9753658549899", "W": "156.97583230848", "H": "156.97583230848", "Z": "8", "transform": "1,0,0,1", "bkgd": 0, "XX": "43.8571891784668", "YY": "61.9753646850586", "WW": "156.975830078125", "HH": "156.975799560547", "_Link": "http://item.taobao.com/item.htm?id=21956603090&spm=2014.21325497.0.0"},
        {"Brand": "YDL/", "BrandId": 43579, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 6, "Title": "\u6843\u4E4B\u592D\u592Dvintage\u590D\u53E4\u5962\u534E\u53E4\u7740\u8033\u9970\u5973\u738B\u6C14\u573AOL\u5FC5\u5907\u795E\u5668\u62DB\u6843\u82B1", "ItemUserID": 87810, "ItemUserName": "\u5343\u5A9A", "Price": "55", "oLink": "http://item.taobao.com/item.htm?id=21956603090&spm=2014.21325497.0.0", "Link": "/click.aspx?t=6&i=219019&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D21956603090%26spm%3D2014.21325497.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 219019, "UserID": 82979, "X": "123.065489511902", "Y": "64.3923893968162", "W": "156.97583230848", "H": "156.97583230848", "Z": "9", "transform": "1,0,0,1", "bkgd": 0, "XX": "123.065490722656", "YY": "64.3923873901367", "WW": "156.975814819336", "HH": "156.975830078125", "_Link": "http://item.taobao.com/item.htm?id=21956603090&spm=2014.21325497.0.0"},
        {"Brand": null, "BrandId": 0, "DisplayUrl": "taobao.com", "CommissionUrl": null, "ItemType": 4, "Title": "2013\u6625\u5B63\u65B0\u54C1\u5973\u978B\u97E9\u7248\u82F1\u4F26\u5B66\u9662\u98CE\u5E03\u6D1B\u514B\u8774\u8776\u7ED3\u642D\u6263\u5E73\u5E95\u5355\u978B", "ItemUserID": 74260, "ItemUserName": "\u79CB\u513F\u67AB\u513F", "Price": "95", "oLink": "http://item.taobao.com/item.htm?id=17830361548&spm=2014.21325497.0.0", "Link": "/click.aspx?t=4&i=422557&u=http%3A%2F%2Fitem.taobao.com%2Fitem.htm%3Fid%3D17830361548%26spm%3D2014.21325497.0.0", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 422557, "UserID": 82979, "X": "415.879701348189", "Y": "296.988347793299", "W": "166.381972292244", "H": "250.575279747767", "Z": "9", "transform": "1,0,0,1", "bkgd": 0, "XX": "415.879699707031", "YY": "296.988342285156", "WW": "166.381958007813", "HH": "250.575256347656", "_Link": "http://item.taobao.com/item.htm?id=17830361548&spm=2014.21325497.0.0"},
        {"Brand": null, "BrandId": 0, "DisplayUrl": null, "CommissionUrl": null, "ItemType": 7, "Title": "Single image by BAMitsamber3 on Photobucket", "ItemUserID": 82979, "ItemUserName": "", "Price": "", "oLink": "", "Link": "/click.aspx?t=7&i=19671&u=", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 19671, "UserID": 0, "X": "382.620677193299", "Y": "78.967445422786", "W": "217.379402736196", "H": "90.4085587084837", "Z": "1", "transform": "1,0,0,1", "bkgd": 0, "XX": "382.620666503906", "YY": "78.9674453735352", "WW": "217.379364013672", "HH": "90.4085540771484", "_Link": ""},
        {"Brand": null, "BrandId": 0, "DisplayUrl": null, "CommissionUrl": null, "ItemType": 7, "Title": "manuedesigns_wa (4).png", "ItemUserID": 82979, "ItemUserName": "", "Price": "", "oLink": "", "Link": "/click.aspx?t=7&i=21967&u=", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 21967, "UserID": 0, "X": "18.510154158922", "Y": "217.90835086083", "W": "301.04621101989", "H": "92.5945204354562", "Z": "2", "transform": "1,0,0,1", "bkgd": 0, "XX": "18.5101547241211", "YY": "217.908355712891", "WW": "301.046142578125", "HH": "92.5944976806641", "_Link": ""},
        {"Brand": null, "BrandId": 0, "DisplayUrl": null, "CommissionUrl": null, "ItemType": 7, "Title": "SEPHORA COLLECTION Blush Me! Mono - SALE Brun Timide 7", "ItemUserID": 82979, "ItemUserName": "", "Price": "", "oLink": "", "Link": "/click.aspx?t=7&i=19881&u=", "ColorValue": "", "Font": "", "IsSetColor": false, "Opacity": 0.0, "Content": null, "CollocationEditorID": 0, "MaskSpec": "", "CollocationID": 57904, "ItemID": 19881, "UserID": 0, "X": "425.911952479448", "Y": "164.386910784149", "W": "139.110565924849", "H": "143.162331426513", "Z": "10", "transform": "1,0,0,1", "bkgd": 0, "XX": "425.911956787109", "YY": "164.386917114258", "WW": "139.110549926758", "HH": "143.162338256836", "_Link": ""}
    ];
    var settitle = '时尚复古搭';
    var typename = '性感迷人小野猫';
</script>

<div style="position: absolute; left: 373px; top: 654.265625px; z-index: 30000; display: none;">

</div>
</body>
</html>