{"xsrf": "ODQzNjU2MiwxMzgwMDk2ODYz",
    "redirect": "http://www.polyvore.com/cgi/set?id=702153",
    "status": {"ok": 1},
    "message": [
        {
            "content": "Template published. <a target=\"_blank\" href=\"../hello_world/template?id=702153\">View template</a>.",
            "duration": 5000,
            "type": "msg",
            "fade_away": 1
        }
    ],
    ".events": [
        ["saveset"]
    ],
    "result": {
        "country": null,
        "user_type": "consumer",
        "createdon": "2013-09-25 01:14:23",
        "occupation": null,
        "createdon_ts": "1380096863",
        "age": 0,
        "description": "ssssssss",
        "buddyicon": "5370713",
        "user_name": "chicsetter-973",
        "state": "active",
        "tid": "702153",
        "spec_uuid": "VB1NfLol4xG53XD86xSULw",
        "user_age": "933989",
        "user_state": "active",
        "user_id": "8436562",
        "title": "hello world",
        "status_msg": ""
    }
}