<div id="header"><div><div class="header-side"><a href="http://koudaitong.com/v2/account/user/login" target="_blank" class="js-route-transfer">登录</a></div>

<a href="http://youzan.com" class="js-route">
    <div class="header-logo"></div>
</a>
<div class="header-title">免费注册</div>
</div></div>
    

<div id="main"><div class="clearfix"><div class="content js-content"><form novalidate="" class="form-horizontal"><!-- 禁止chrome自动填写 -->
<input style="display:none" type="text" name="fakeusernameremembered">
<input style="display:none" type="password" name="fakepasswordremembered">
<div class="control-group">
    <label class="control-label"><em class="required">*</em>手机号码：</label>
    <div class="controls">
        <input type="text" class="js-mobile" name="mobile" placeholder="今后使用手机号登录" maxlength="11" autocomplete="off">
    </div>
</div>
<div class="control-group">
    <label class="control-label"><em class="required">*</em>短信校验码：</label>
    <div class="controls">
        <div class="input-append">
            <input class="input-half" type="text" maxlength="6" name="sms_captcha">
            <button type="button" class="btn js-fetch-sms btn-disabled" disabled="disabled">获取</button>
        </div>
    </div>
</div>
<div class="control-group">
    <label class="control-label"><em class="required">*</em>设置密码：</label>
    <div class="controls">
        <input type="password" name="password" placeholder="6~20个字符" maxlength="20" autocomplete="off">
    </div>
</div>
<div class="control-group">
    <label class="control-label"><em class="required">*</em>确认密码：</label>
    <div class="controls">
        <input type="password" name="password_again" placeholder="再输一次" maxlength="20">
    </div>
</div>
<div class="control-group">
    <label class="control-label"><em class="required">*</em>个人昵称：</label>
    <div class="controls">
        <input type="text" name="nick_name" placeholder="行不更名，坐不改姓" maxlength="20">
    </div>
</div>
<div class="control-group">
    <label class="control-label">推荐码：</label>
    <div class="controls">
        <input type="text" name="recommend" placeholder="没有就不用填~" maxlength="30">
        <a href="http://wap.koudaitong.com/v2/showcase/feature?alias=k47cmncr" class="new-window assist-link" target="_blank"><span class="help-icon">?</span></a>
    </div>
</div>
<div class="control-group">
    <div class="controls">
        <button type="submit" class="btn btn-large btn-primary btn-signup js-btn-signup" data-loading-text="确认注册...">确认注册</button>
    </div>
</div>

<div class="help-popover">
    如果您是经服务商或朋友邀请，请在此填写他给您的邀请码<br>
    如果没有，就不用填写
</div>
</form></div>
<div class="sidebar js-sidebar"></div>
