<%= form_for [:manage, @main_color] do |f| %>

    <legend>Main Color</legend>

    <%= f.label :color_value %>
    <%= f.text_field :color_value %>
    <span class="help-block">不带#号的16进制颜色</span>

    <%= f.submit %>
<% end %>