<p>
  <br/>
</p>

<%= form_for [:manage, @typeset_type], html: {class: "form-horizontal", role: "form"} do |f| %>


    <div class="form-group">
      <label class="col-md-2 control-label">备注</label>
      <div class="col-md-4">
        <%= f.text_field :mark, class: "form-control", placeholder: "" %>
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-2 control-label"></label>
      <div class="col-md-4">
        <%= f.submit class: "btn btn-default" %>
      </div>
    </div>

<% end %>