=render :partial=>"/users/top_bar", :locals=>{:user=>@user, :nav_class=>"shangjie"}

.wrapper
  .dapei-body
    -if @dapeis.blank?
      .resort
        %h2 还没有上街搭配，赶快加油做搭配，秀出你的上街范儿吧!
    %ul.nav.nav-float.stream
      -#-i=1
      -@dapeis.each  do |d|
        -#-if i%3==0
          =render :partial=>"/dapeis/dapei_list_item", :locals=>{:dapei=>d, :dis_class=>"ul-last-li"}
        -#-else
        =render :partial=>"/dapeis/dapei_list_item", :locals=>{:dapei=>d, :dis_class=>"holder"}
        -#-i=i+1
    #page_nav
      = paginate @dapeis

