=render :partial=>"/users/top_bar", :locals=>{:user=>@user, :nav_class=>"main"}

.wrapper
  %ul.nav.nav-float.dapei-nav
    %li.new-person-dapei-link
      -if user_signed_in?
        %a{:href => "/collocations?suid=#{@user.url}", :style=>"background:red;"} >>去搭配
      -else
        %a{:href => "#{layer_sign_in_path}", :rel => "facebox[.about]"} >>去搭配

.wrapper
  .dapei-body
    -if @dapeis.blank?
      .resort
        %h2 还没有发布过任何搭配，赶快行动起来!
    %ul.nav.nav-float.stream
      - @dapeis.each do |d|
        - next unless d
        = render :partial=>"/dapeis/dapei_list_item", :locals=>{:dapei=>d, :dis_class=>"holder"}
    #page_nav
      = will_paginate @dapeis

