.navbox
  #nav-top.row.link-w
    .wrapper
      .pull-left
        %span 搭配秘书欢迎你！关注我们：
        %span.icon
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/newweb/weibo-sina.png"}/
      = render "shared/login_status"
