- content_for :title do
  = "上街吧android/ios下载 - 上街吧帮你穿好看"

- content_for :description do
  = "android,ios,windows phone下载 - 上街吧帮你穿好看, 百万女性在用，最受欢迎的狐狸精应用"

- content_for :keywords do
  = "android,ios,app,win phone,下载,上街吧"
