- content_for :title do
  = user_page_seo('title',  obj, @where)

- content_for :description do
  = user_page_seo('desc',  obj, @wherer)

- content_for :keywords do
  = user_page_seo('keywords',  obj, @where)
