%li
  .three-top
    %img{:src => "#{brand.banner_url}"}
      .opacity-tiny-b
        #{brand.get_name.capitalize}
  %ul.nav.nav-float.chunk-three-middle
    %li
      %img{:src => "/assets/tmp/brands-middle-2.png"}
        .opacity-tiny
          盛装派对
    %li
      %img{:src => "/assets/tmp/brands-middle-2.png"}
        .opacity-tiny
          盛装派对
    %li#ul-last-li
      %img{:src => "/assets/tmp/brands-middle-2.png"}
        .opacity-tiny
          盛装派对
  %ul.nav.nav-float.chunk-three-bottom
    %li
      %img{:src => "/assets/tmp/brands-middle.png"}
        .opacity-tiny
          大腿时代
    %li#ul-last-li
      %img{:src => "/assets/tmp/brands-middle.png"}
        .opacity-tiny
          大腿时代
