<% render :partial => 'shared/app_page_head'  %>

<!--
<div class="row">
</div>
-->
<style type="text/css">
  .row{
      width: 100%;
      height: 700px;
      background: url(/assets/app/app-head.gif) no-repeat;
      background-position: center;
  }
  .app-app{
      margin-top: 80px;
  }
  .app-version{
      color: #8e8e8e;
      padding-bottom: 20px;
      display: inline-block;
      padding-left: 170px;
  }
  .app-app table{
      width: 100%;
  }
  .app-app table tr td{
      vertical-align: middle;
      text-align: left;
      color: #444444;
      font-size: 16px;
  }
  .app-app h4{
      font-size: 30px;
      margin: 0 auto;
      padding: 0 0 20px;
      line-height: 30px;
      margin-top: 40px;
      padding-left: 170px;
  }
  .app-app .app-info{
      width: 675px;
  }
  .app-app .app-download{
      height: 40px;
      width: 190px;
      background: #dc5150;
      line-height: 40px;
      color: #fff;
      margin: 30px 0;
      padding-left: 20px;
      cursor: pointer;
  }
  .app-download a{
      color: #fff;
      display: inline-block;
  }
  td.can-left{
      padding-left: 170px;
  }
  .app-app hr{
      height: 0;
      border: 0;
      border-bottom: 1px dashed #d2d2d2;
  }
  .app-download-arrow{
      display: inline-block;
      position: absolute;
      height: 40px;
      width: 33px;
      background: url(/assets/app/app-arrow.gif);
      line-height: 40px;
      margin-left: 10px;
  }
  .app-andriod-download .app-download-arrow{
      margin-left: 10px;
      margin-top: 0;
  }
</style>
<div class="wrapper">
  <div class="app-app">
    <ul class="nav nav-float">
      <li>
        <img src="/assets/app/app-ios.gif" alt=""/>
      </li>
      <li class="app-info">
        <div>
          <table>
            <tr>
              <td colspan="2">
                <h4>上街吧iPhone客户端</h4>
                <small class="app-version">版本号：V2.0发布日期：2013-11-07</small>
                <hr>
              </td>
            </tr>
            <tr>
              <td class="can-left">
                1.安装包下载：
              </td>
              <td>
                <a href="https://itunes.apple.com/us/app/shang-jie-ba/id657031277?ls=1&mt=8">
                <div class="app-download">
                   前往app store下载 <i class="app-download-arrow"></i>
                </div>
                </a>
              </td>
            </tr>
            <tr class="can-left">
              <td class="can-left">
                2.扫描二维码下载：
              </td>
              <td>
                <img src="/assets/liantu.png" alt="" width="110px" height="110px"/>
              </td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>

  <div class="app-app">
    <ul class="nav nav-float">

      <li class="app-info">
        <div>
          <table>
            <tr>
              <td colspan="2">
                <h4>上街吧andriod客户端</h4>
                <small class="app-version">版本号：V3.0.0发布日期：2014-01-11</small>
                <hr>
              </td>
            </tr>
            <tr>
              <td class="can-left">
                1.安装包下载：
              </td>
              <td>
                <a href="http://www.shangjieba.com/shangjieba.apk">
                <div class="app-download app-andriod-download">
                  andriod apk下载 <i class="app-download-arrow"></i>
                </div>
                </a>
              </td>
            </tr>
            <tr class="can-left">
              <td class="can-left">
                2.扫描二维码下载：
              </td>
              <td>
                <img src="/assets/android_app.png" alt="" width="110px" height="110px"/>
              </td>
            </tr>
          </table>
        </div>
      </li>
      <li>
        <img src="/assets/app/app-andriod.gif" alt=""/>
      </li>
    </ul>
  </div>

<!--

  <div class="app-app">
    <ul class="nav nav-float">
      <li>
        <img src="/assets/app/app-wp.gif" alt=""/>
      </li>
      <li class="app-info">
        <div>
          <table>
            <tr>
              <td colspan="2">
                <h4>上街吧Windows Phone客户端</h4>
                <small class="app-version">版本号：V1.0发布日期：2013-10-12</small>
                <hr>
              </td>
            </tr>
            <tr>
              <td class="can-left">
                1.安装包下载：
              </td>
              <td>
                <div class="app-download">
                  <a href="#"> 前往app store下载 <i class="app-download-arrow"></i></a>
                </div>
              </td>
            </tr>
            <tr class="can-left">
              <td class="can-left">
                2.扫描二维码下载：
              </td>
              <td>
                <img src="app-ios.png" alt="" width="110px" height="110px"/>
              </td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>

-->
</div>
