<html><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>上街吧</title>
        <meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
        <style type="text/css">
            html, body{
                margin: 0;
                padding: 0;
                height: 100%;
            }
            #wrapper {
                width: 640px;
                min-height: 100%;
                font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            }
            #hope {
                position: absolute;
                top: 280px;
                left: 50px;
            }
            #image {
                display: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            #image img {
                border: none;
                padding: 0;
                margin: 0;
            }
            #button {
                display: none;
                position: absolute;
                top: 560px;
                left: 110px;
            }
            #mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background-color: #333;
                filter: alpha(Opacity=90);
                -moz-opacity: 0.9;
                opacity: 0.9;
            }
            #tip {
                display: inline;
                position: absolute;
                top: 10px;
                left: 10px;
            }
        </style>
        <script type="text/javascript">
            function is_weixin(){
                var ua = navigator.userAgent.toLowerCase();
                if(ua.match(/MicroMessenger/i) == "micromessenger") {
                    if(ua.match(/iphone/i) == "iphone") {
                        return 'ios';
                    }
                    return 'android';
                }
                return false;
            }

            
            function tip(){
                document.getElementById('tip').style.display = 'inline';
                document.getElementById('image').style.display = 'none';
                document.getElementById('button').style.display = 'none'; 
            }


            function get_version () {
                var ua = navigator.userAgent.toLowerCase();
                var version = ua.match(/MicroMessenger\/(.*)/i)[1];
                return version;
            }

            if ( !is_weixin() ) {
                location.href = "/weixin/ad_download";
            }

            if( is_weixin() == "android" ){
                location.href = "<%= @android_app %>";
            }

            if( is_weixin() == "ios" ){
                tip();
                //location.href = "https://itunes.apple.com/us/app/shang-jie-ba/id657031277?ls=1";
            }

        </script>
        </head>
        <body>
            <div id="image">
              <img src="/assets/weixin/app.jpg" />
            </div>
            <div id="button" onclick="tip();"> 
              <img src="/assets/weixin/download.png"/>
            </div>

            <div id="tip"><img src="/assets/weixin/tip-android.jpg"/></div>  
            <div id='analysis' style="display:none;">
              <%= render 'layouts/analysis' %>
            </div>
        </body>

       </html>
