<!DOCTYPE html>
<html>
<head>
  <title>weixin cards</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>

<script>
var readyFunc = function onBridgeReady() { 
WeixinJSBridge.invoke('batchAddCard', { 
"card_list": [
{
"card_id": "pRKD0szNhEgvO3q4xaY14vjsJEU4", 
"card_ext": ""
}]}, function(res){} );
} 
if (typeof WeixinJSBridge === "undefined") { document.addEventListener('WeixinJSBridgeReady', readyFunc, false);
} else { readyFunc(); }

</script>
</body>
</html>
