.wrapper
  %p
    %h4
      欢迎关注上街吧--逛你姐
  %p
  %p
    1.点击下面的+，然后发送位置，可以查看周边新品和实时优惠。
    %img{:src=>"#{@pos_img}"} 
  %p
    2.发送[app],下载app
  %p
    3.发送[dp],查看最新搭配
  %p
    4.发送[yx],玩游戏
  %p
    5.发送[m],进入上街吧手机主页
  %p
    6.发送[h], 查看帮助。
