<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>上街吧，帮你穿好看</title>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<link type="text/css" rel="stylesheet" href="/wap/Index/J-lvjianwu/default/index.css" />
<script type="text/javascript" src="/wap/common/jquery.js"></script>
<script type="text/javascript" src="/wap/common/jquery-1.2.6.pack.js"></script>
<script type="text/javascript" src="/wap/common/g.base.js"></script>
<script type="text/javascript" src="/wap/common/iscroll.js"></script>
<script type="text/javascript" src="/wap/common/alert.js"></script>
<script type="text/javascript" src="/wap/common/common.js"></script>
<script type="text/javascript">
    var myScroll;
    function loaded() {
        myScroll = new iScroll('wrapper', {
            snap: true,
            momentum: false,
            hScrollbar: false,
            onScrollEnd: function() {
                document.querySelector('#indicator > li.active').className = '';
                document.querySelector('#indicator > li:nth-child(' + (this.currPageX + 1) + ')').className = 'active';
            }
        });
    }
    document.addEventListener('DOMContentLoaded', loaded, false);
</script>
</head>

<body>
<header>
    <div class="banner">
        <div id="wrapper" style="overflow: hidden; ">
            <div id="ios">
              <a href="#"><img src="/upload/img/ios.jpg" /></a>
            </div>
            <div id="andriod">
              <a href="#"><img src="/upload/img/android.jpg" /></a>
            </div>
            <div id="scroller">
                <ul id="thelist">
                    <!--<li><p></p><a href="#"><img src="/upload/img/20131005/13809660403848.jpg" /></a></li>-->
                    <li><a href="#"><img src="/upload/img/banner2.jpg" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="nav">
        <div id="prev" onclick="javascript:myScroll.scrollToPage('prev', 0);"></div>
        <!--
        <ul id="indicator">
            <li class="active"></li><li ></li>        </ul>
        -->
        <div id="next" onclick="javascript:myScroll.scrollToPage('next', 0, 400, 2);"></div>
    </div>
    <div class="clr"></div>
</header>
<script>
    var count = document.getElementById("thelist").getElementsByTagName("img").length;
    for (i = 0; i < count; i++) {
        document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
    }
    document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    setInterval(function() {
        myScroll.scrollToPage('next', 0, 400, count);
    }, 3500);
    window.onresize = function() {
        for (i = 0; i < count; i++) {
            document.getElementById("thelist").getElementsByTagName("img").item(i).style.cssText = " width:" + document.body.clientWidth + "px";
        }
        document.getElementById("scroller").style.cssText = " width:" + document.body.clientWidth * count + "px";
    };
</script>
<div class="content">
    <a href="/weixin/search?index=dapei" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674651404.png) center no-repeat; background-size:contain;"></div>
        <div class="text">今日搭配</div>
    </a><a href="/weixin/brands" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809673822754.png) center no-repeat; background-size:contain;"></div>
        <div class="text">品牌汇</div>
    </a><a href="/weixin/cities" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674157426.png) center no-repeat; background-size:contain;"></div>
        <div class="text"><%= @city %>[切换]</div>
    </a><a href="/games/info/marry_phone" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674319154.png) center no-repeat; background-size:contain;"></div>
        <div class="text">微信游戏</div>
    </a><a href="/weixin/search?index=discount" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674461949.png) center no-repeat; background-size:contain;"></div>
        <div class="text">品牌资讯</div>
    </a><a href="/weixin/search?index=item" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809673974739.png) center no-repeat; background-size:contain;"></div>
        <div class="text">新品汇</div>
    </a><a href="/weixin/search?index=shop" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674805918.png) center no-repeat; background-size:contain;"></div>
        <div class="text">周边逛</div>
    </a><a href="/weixin/help" data-role="none">
        <div class="img" style="background:url(/upload/img/20131005/13809674974016.png) center no-repeat; background-size:contain;"></div>
        <div class="text">帮助</div>
    </a></div>
<div class="footer">
<p class="footer-top">&COPY;上街吧，百万女性疯狂在用的狐狸精App</p>
<p class="footer-bottom" data-role="none">
   关注微信公众账号:【上街吧】【shangjiezhushou】
   <!--&nbsp 追逐时尚，修行美丽。马上关注，赢取LV包包!-->
   <!--
   <a href="index.htm">首页</a>  
   <a href="kecheng.htm">课程页</a>  
   <a href="lianxi.htm">联系页</a>  
   <a href="sheji.htm">设计页</a>  
   <a href="youhui.htm">优惠页</a>  
   <a href="fuwu.htm">服务页</a>  
   <a href="guanyu.htm">关于我们页</a>
   -->
</p>
</div>
</body>
</html>
