<div class="bs-sidebar hidden-print affix-top" role="complementary">
  <ul class="nav bs-sidenav">
    <li class="active">
    <a href="#download" style="border-right:1px solid #f7f5fa;">优惠管理</a>
      <ul class="nav">
        <li class="<%= ac_active('discounts','index') %>"> 
          <%= link_to '全部优惠', "/manage/discounts" %> 
        </li>
      </ul>
    </li>
  </ul>
</div>
