.download_area
  -#.hd
    %h3 马上下载iphone app
  .bd
    .download_btn
      %a{:href => "https://itunes.apple.com/us/app/shang-jie-ba/id657031277?ls=1&mt=8"} 下载iphone app
    .download_qr
      %a{:href => "https://itunes.apple.com/us/app/shang-jie-ba/id657031277?ls=1&mt=8", :rel=>"nofollow"}
        %img{:height => "44", :src => "/assets/liantu.png"}/
