<div class="container">
  <div class="row inner">

    <div class="col-xs-9 info-text">
      <h2>商务合作</h2>
      <p>
        品牌合作、资源置换等，联系邮箱：chamy@shangjieba.com
      </p>
    </div>

    <div class="col-xs-2 pull-right">
        <ul class="nav">
          <li> <a href="<%= app_about_path %>">关于我们</a> </li>
          <li> <a href="<%= app_business_path %>">商务合作</a> </li>
        </ul>
    </div>
    <div class="backg-footer">
      <img src="/app_main_images/people2.png">
    </div>

  </div>
</div>

