<div class="container">
  <div class="row inner">

    <div class="col-xs-9 info-text">
      <p>
        &nbsp; &nbsp; &nbsp;&nbsp;MAKE美格时尚是一款可以让用户DIY自己时尚style的移动APP。提供强大、易操作的搭配工具让普通爱美女性可以像“时尚编辑”一样来制作时尚搭配杂志， 轻松将自己的时尚style分享到微信朋友圈，qq空间。另外，基于其独有的人工智能算法，进行流行趋势计算与预测，根据流行风尚和个人喜好，从全球1000+时装品牌中为用户寻找最适合的时尚穿搭，帮用户发现和选购喜欢的品牌服饰。
      </p>
      <p>
        使　命：做出更美的自己
      </p>
      <p>
        历　史：MAKE由来自前阿里巴巴和腾讯的员工创建。产品上线于2014年8月份，
      </p>

    </div>

    <div class="col-xs-2 pull-right">
        <ul class="nav">
          <li> <a href="<%= app_about_path %>">关于我们</a> </li>
          <li> <a href="<%= app_business_path %>">商务合作</a> </li>
        </ul>
    </div>
    <div class="backg-footer">
      <img src="/app_main_images/people.png"> 
    </div>

  </div>
</div>

