.wrapper  
  %div{style:"margin:40px 250px;font-size:16px;color:#000;line-height:26px; box-shadow: 1px 2px 2px 2px #999;-webkit-box-shadow: 1px 2px 2px 2px #999;-moz-box-shadow: 1px 2px 2px 2px #999;padding:30px"}
    %h3{style:"text-align:center;"} 免责声明
    %div
      1、本站所展示的商品都在来源于互联网，内容真实性、准确性和合法性由发布商家负责。上街吧应对此不承担法律责任。
    %div
      2、如果本站产品侵犯您的版权，请联系上街吧(021-54855946)。我们会在24小时内审核处理。
    %div
      3、网站留言评论仅代表商家、用户的个人观点，如果不需要显示的留言或评论，请联系上街吧(021-54855946)删除。	
    %div
      4、上街吧只提供商品信息，一切交易将视为客户自行自愿交易，对交易产生问题由交易双方自行负责，上街吧对此不承担任何保证责任。
    %div{style:"text-align:right"}
      %img{src:"/assets/newweb/logo.png"}