.website_map_nav 频道
%table.website_map_table
  %tr
    %td.left 
      首页
    %td.right
      %div 周边热点
      %div 在售新品
      %div 特卖优惠
      %div 品牌汇
      %div 搭配记
.split
.website_map_nav 分类
%table.website_map_table
  %tr
    %td.left 
      上装
    %td.right
      %div 背心
      %div T恤
      %div 小西装
      %div 开衫
.split
%table.website_map_table
  %tr
    %td.left 
      裤装
    %td.right
.split
%table.website_map_table
  %tr
    %td.left 
      裙装
    %td.right
.split
%table.website_map_table
  %tr
    %td.left 
      内衣
    %td.right
.split
%table.website_map_table
  %tr
    %td.left 
      鞋子
    %td.right 
.split
%table.website_map_table
  %tr
    %td.left 
      包包
    %td.right  
.website_map_nav 服务
%table.website_map_table
  %tr
    %td.left2 
      新手上路
    %td.right
      %div 购物流程
      %div 会员介绍
      %div 找回密码
      %div 帮助中心
.split  
%table.website_map_table
  %tr
    %td.left2 
      关于我们
    %td.right
      %div 上街吧介绍
      %div 媒体报道
      %div 招聘信息
      %div 联系我们
.split                
%table.website_map_table
  %tr
    %td.left2 
      商务合作
    %td.right
      %div 品牌入驻
      %div 媒体合作
      %div 广告投放
      %div 商家中心
.split                           
%table.website_map_table
  %tr
    %td.left2 
      网站导航
    %td.right
      %div 品牌大全
      %div 覆盖城市
      %div 流行风格
      %div 网站导航
.split                 
 