<p>您好！ <%= @resource.email %>!</p>

<p>
请点击下面的地址重置你在shangjieba(上街吧)的密码：
</p>

<p><%= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>
shangjieba(上街吧)团队
</p>
