<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>Monitor</title>

  <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.js"></script>
  <script type="text/javascript" src="http://1251008728.cdn.myqcloud.com/1251008728/flash_buy/js/Chart.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">

</head>
<body>

<%= yield %>

</body>
</html>