= simple_form_for([:manage, @daren_apply]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :status

  .form-actions
    = f.button :submit

- @daren_apply.get_imgs.each do |img|
  %img{:src => img}

- Dapei.dapeis_by( @daren_apply.get_user ).page(params[:page]).per(10).each do |dp|
  %img{:src => dp.img_url('m')}
