<div class="footer" style="margin: 0 auto; text-align:center; margin-top:50px; clear:both; ">
  <p>
    <a href="<%= app_about_path %>">关于我们</a>
    　　
    <a href="<%= app_business_path %>">商务合作</a>

    <a href="http://www.saibaobei.com" style="margin-left:25px;">赛宝贝</a>
    　　
  </p>
  <p>Shuwei Inc. 2013  All Rights Reserved.　沪ICP备 09039856号-5 </p>
  <p class="follow">
    <a href="http://weibo.com/u/3985893887" target="_blank" class="follow-icon sina" title="关注上街吧新浪微博"></a>
    <a href="javascript:void(0);" class="follow-icon wx" data-toggle="modal" data-target="#click-wx" title="关注上街吧微信"></a>
  </p>
</div>

<div id='analysis'>
  <%= render 'layouts/analysis' %>
</div>

