<style>
    #m-download{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 640px;
        text-align: center;
    }
    #m-download img{
        opacity: 0.7;
    }
</style>
<div id="m-download">
  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.shangjieba.client.android&g_f=991653">
  <img src="http://1251008728.cdn.myqcloud.com/1251008728/2014/08/09/down.jpg" alt=""/>
  </a>
</div>