%title= content_for?(:title) ? yield(:title) : "搭配秘书, 最贴心的私人衣橱助手"
%meta{:name=>"keywords", :content => content_for?(:keywords) ? yield(:keywords) : "搭配秘书,私人衣橱, 穿衣助手"}
%meta{:name=>"description", :content => content_for?(:description) ? yield(:description) : "搭配秘书, 最贴心的私人衣橱助手"}
