<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content="有赞,微信商城,粉丝营销,微信商城运营">
    <meta name="description" content="有赞是帮助商家在微信上搭建微信商城的平台，提供店铺、商品、订单、物流、消息和客户的管理模块，同时还提供丰富的营销应用和活动插件。">

    <title>
    有赞    </title>

    <link rel="icon" href="http://kdt-static.qiniucdn.com/v2/image/yz_fc.ico">

    <!-- ▼ Common CSS -->
    <link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/css/bootstrap_140705.css" onerror="_cdnFallback(this)">    <!-- ▲ Common CSS -->

    <!-- ▼ App CSS -->
    <link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/build_css/app_signup_7f3d4424a0.css" onerror="_cdnFallback(this)">    <!-- ▲ App CSS -->

     <script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.8.2/jquery.min.js"></script>
   
    <style>
        #BDBridgeWrap {
            display: none !important;
        }
    </style>

<body>

<!-- ▼ Main container -->
<div class="container js-container">
<%= yield %>
</div>
<noscript>
    &lt;div class="container"&gt;
        &lt;div class="header"&gt;&lt;h1&gt;有赞需要 JavaScript 支持,请在浏览器里开启 JavaScript。&lt;/h1&gt;&lt;/div&gt;
    &lt;/div&gt;
</noscript>
<!-- ▲ Main container -->
<div class="js-notifications notifications"></div>

<!--[if lte IE 9]>
<link rel="stylesheet" href="http://static.koudaitong.com/v2/vendor/kill-ie-6.css">
<script src="http://kdt-static.qiniucdn.com/v2/vendor/kill-ie-6.js" onerror="_cdnFallback(this)"></script><script src="http://kdt-static.qiniucdn.com/v2/vendor/json2.js" onerror="_cdnFallback(this)"></script><![endif]-->

</body></html>

